In [1]:
import requests
from requests.adapters import HTTPAdapter
from bs4 import BeautifulSoup as bs4

header= {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Safari/537.36'}
url='https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=2330&SYEAR=2019&SSEASON=2&REPORT_ID=C'


web_ss = requests.session()
ss_adapter = HTTPAdapter(max_retries=3)
web_ss.mount("https://", adapter=ss_adapter)
res = web_ss.get(url=url, headers=header)
res.encoding = 'big5'
if res.status_code == 200:
    #soup = bs4(res.text, "lxml")
    soup = bs4(res.text, "html.parser")
    tables = soup.select('table')
#print(tables)

In [230]:
Ntable = 0
start = 6
k = 3

code = tables[Ntable].select('td')

code_list=[]

for _code in code:
    try:
        if (_code['style'])!='':
            code_list.append(_code.text)
    except:
        pass
#print(code_list)

cht = tables[Ntable].select('span.zh')
en = tables[Ntable].select('span.en')
amt = tables[Ntable].select('td.amt')

#print(code)
#print(len(cht[start:]), len(amt)/k)
#df_cht, df_eng = {} , {}

Balance_list=[]
j=0
for i, _amt in enumerate(amt):
    
    if i%k==0:
        #print(i, _amt.text)
        #balance_list[code_list[j]]= [{'cht':cht[6+j].text.strip(),'value':_amt.text.strip().replace(',','')}]
        Balance_list.append({'code':code_list[j], 'en':en[start+j].text.strip(), 'cht':cht[start+j].text.strip()
                              ,'value':_amt.text.strip().replace(',','')})
        j+=1

Balance={'Balance':Balance_list}        
#print(Balance)

In [229]:
Ntable = 1
k = 4
start=7


code = tables[Ntable].select('td')

code_list=[]

for _code in code:
    try:
        if (_code['style'])!='':
            code_list.append(_code.text)
    except:
        pass
#print(code_list)

cht = tables[Ntable].select('span.zh')
en = tables[Ntable].select('span.en')
amt = tables[Ntable].select('td.amt')

#print(code)

#print(len(cht[7:]), len(amt)/4)

ProfitLoss_list=[]
j=0
for i, _amt in enumerate(amt):
    
    if i%4==0:
        ProfitLoss_list.append({'code':code_list[j], 'en':en[start+j].text.strip(), 'cht':cht[start+j].text.strip(),
                              'value':_amt.text.strip().replace(',','')})
        j+=1

ProfitLoss={'ProfitLoss':ProfitLoss_list}        
#print(ProfitLoss)

In [223]:
Ntable = 2
start=5
k=2


code = tables[Ntable].select('td')


code_list=[]

for _code in code:
    try:
        if (_code['style'])!='':
            code_list.append(_code.text)
    except:
        pass
#print(code_list)

cht = tables[Ntable].select('span.zh')
en = tables[Ntable].select('span.en')
amt = tables[Ntable].select('td.amt')

#print(code)

#print(len(cht[start:]), len(amt)/2)

CashFlows_list=[]
j=0
for i, _amt in enumerate(amt):
    
    if i%k==0:
        CashFlows_list.append({'code':code_list[j], 'en':en[start+j].text.strip(), 'cht':cht[start+j].text.strip(),
                              'value':_amt.text.strip().replace(',','')})
        j+=1

CashFlows={'CashFlows':CashFlows_list}        
#print(CashFlows)

{'CashFlows': [{'code': '', 'en': 'Cash flows from (used in) operating activities, indirect method', 'cht': '營業活動之現金流量－間接法', 'value': ''}, {'code': 'A00010', 'en': 'Profit (loss) from continuing operations before tax', 'cht': '繼續營業單位稅前淨利（淨損）', 'value': '148727092'}, {'code': 'A10000', 'en': 'Profit (loss) before tax', 'cht': '本期稅前淨利（淨損）', 'value': '148727092'}, {'code': '', 'en': 'Adjustments', 'cht': '調整項目', 'value': ''}, {'code': '', 'en': 'Adjustments to reconcile profit (loss)', 'cht': '收益費損項目', 'value': ''}, {'code': 'A20100', 'en': 'Depreciation expense', 'cht': '折舊費用', 'value': '149897048'}, {'code': 'A20200', 'en': 'Amortization expense', 'cht': '攤銷費用', 'value': '2699106'}, {'code': 'A20300', 'en': 'Expected credit loss (gain) / Provision (reversal of provision) for bad debt expense', 'cht': '預期信用減損損失（利益）數／呆帳費用提列（轉列收入）數', 'value': '(987)'}, {'code': 'A20400', 'en': 'Net loss (gain) on financial assets or liabilities at fair value through profit or loss', 'cht': '透過損益按公允價值衡量金融資產及負債之淨損失（利益）', 'value': '890206'}, {'code': 'A20900', 'en': 'Interest expense', 'cht': '利息費用', 'value': '1763816'}, {'code': 'A21200', 'en': 'Interest income', 'cht': '利息收入', 'value': '(8955693)'}, {'code': 'A21300', 'en': 'Dividend income', 'cht': '股利收入', 'value': '(244430)'}, {'code': 'A22300', 'en': 'Share of loss (profit) of associates and joint ventures accounted for using equity method', 'cht': '採用權益法認列之關聯企業及合資損失（利益）之份額', 'value': '(1062026)'}, {'code': 'A22500', 'en': 'Loss (gain) on disposal of property, plan and equipment', 'cht': '處分及報廢不動產、廠房及設備損失（利益）', 'value': '700386'}, {'code': 'A22800', 'en': 'Loss (gain) on disposal of intangible assets', 'cht': '處分無形資產損失（利益）', 'value': '2377'}, {'code': 'A23100', 'en': 'Loss (gain) on disposal of investments', 'cht': '處分投資損失（利益）', 'value': '(172465)'}, {'code': 'A23500', 'en': 'Impairment loss on financial assets', 'cht': '金融資產減損損失', 'value': '0'}, {'code': 'A23700', 'en': 'Impairment loss on non-financial assets', 'cht': '非金融資產減損損失', 'value': '0'}, {'code': 'A23800', 'en': 'Reversal of impairment loss on non-financial assets', 'cht': '非金融資產減損迴轉利益', 'value': '(301384)'}, {'code': 'A23900', 'en': 'Unrealized profit (loss) from sales', 'cht': '未實現銷貨利益（損失）', 'value': '0'}, {'code': 'A24000', 'en': 'Realized loss (profit) on from sales', 'cht': '已實現銷貨損失（利益）', 'value': '(62262)'}, {'code': 'A24100', 'en': 'Unrealized foreign exchange loss (gain)', 'cht': '未實現外幣兌換損失（利益）', 'value': '1722527'}, {'code': 'A29900', 'en': 'Other adjustments to reconcile profit (loss)', 'cht': '其他項目', 'value': '(13032)'}, {'code': 'A20010', 'en': 'Total adjustments to reconcile profit (loss)', 'cht': '收益費損項目合計', 'value': '146863187'}, {'code': '', 'en': 'Changes in operating assets and liabilities', 'cht': '與營業活動相關之資產／負債變動數', 'value': ''}, {'code': '', 'en': 'Changes in operating assets', 'cht': '與營業活動相關之資產之淨變動', 'value': ''}, {'code': 'A31115', 'en': 'Decrease (increase) in financial assets at fair value through profit or loss, mandatorily measured at fair value', 'cht': '強制透過損益按公允價值衡量之金融資產（增加）減少', 'value': '(80241)'}, {'code': 'A31150', 'en': 'Decrease (increase) in accounts receivable', 'cht': '應收帳款（增加）減少', 'value': '9178788'}, {'code': 'A31160', 'en': 'Decrease (increase) in accounts receivable due from related parties', 'cht': '應收帳款－關係人（增加）減少', 'value': '179506'}, {'code': 'A31190', 'en': 'Decrease (increase) in other receivable due from related parties', 'cht': '其他應收款－關係人（增加）減少', 'value': '8789'}, {'code': 'A31200', 'en': 'Decrease (increase) in inventories', 'cht': '存貨（增加）減少', 'value': '(5000903)'}, {'code': 'A31240', 'en': 'Decrease (increase) in other current assets', 'cht': '其他流動資產（增加）減少', 'value': '511681'}, {'code': 'A31250', 'en': 'Decrease (increase) in other financial assets', 'cht': '其他金融資產（增加）減少', 'value': '4363408'}, {'code': 'A31990', 'en': 'Decrease (increase) in other operating assets', 'cht': '其他營業資產（增加）減少', 'value': '0'}, {'code': 'A31000', 'en': 'Total changes in operating assets', 'cht': '與營業活動相關之資產之淨變動合計', 'value': '9161028'}, {'code': '', 'en': 'Changes in operating liabilities', 'cht': '與營業活動相關之負債之淨變動', 'value': ''}, {'code': 'A32150', 'en': 'Increase (decrease) in accounts payable', 'cht': '應付帳款增加（減少）', 'value': '(1669615)'}, {'code': 'A32160', 'en': 'Increase (decrease) in accounts payable to related parties', 'cht': '應付帳款－關係人增加（減少）', 'value': '(609048)'}, {'code': 'A32230', 'en': 'Increase (decrease) in other current liabilities', 'cht': '其他流動負債增加（減少）', 'value': '(2619598)'}, {'code': 'A32240', 'en': 'Increase (decrease) in net defined benefit liability', 'cht': '淨確定福利負債增加(減少)', 'value': '(250825)'}, {'code': 'A32990', 'en': 'Increase (decrease) in other operating liabilities', 'cht': '其他營業負債增加（減少）', 'value': '8656896'}, {'code': 'A32000', 'en': 'Total changes in operating liabilities', 'cht': '與營業活動相關之負債之淨變動合計', 'value': '3507810'}, {'code': 'A30000', 'en': 'Total changes in operating assets and liabilities', 'cht': '與營業活動相關之資產及負債之淨變動合計', 'value': '12668838'}, {'code': 'A20000', 'en': 'Total adjustments', 'cht': '調整項目合計', 'value': '159532025'}, {'code': 'A33000', 'en': 'Cash inflow (outflow) generated from operations', 'cht': '營運產生之現金流入（流出）', 'value': '308259117'}, {'code': 'A33500', 'en': 'Income taxes refund (paid)', 'cht': '退還（支付）之所得稅', 'value': '(37827811)'}, {'code': 'AAAA', 'en': 'Net cash flows from (used in) operating activities', 'cht': '營業活動之淨現金流入（流出）', 'value': '270431306'}, {'code': '', 'en': 'Cash flows from (used in) investing activities', 'cht': '投資活動之現金流量', 'value': ''}, {'code': 'B00010', 'en': 'Acquisition of financial assets at fair value through other comprehensive income', 'cht': '取得透過其他綜合損益按公允價值衡量之金融資產', 'value': '(98468264)'}, {'code': 'B00020', 'en': 'Proceeds from disposal of financial assets at fair value through other comprehensive income', 'cht': '處分透過其他綜合損益按公允價值衡量之金融資產', 'value': '86851335'}, {'code': 'B00030', 'en': 'Proceeds from capital reduction of financial assets at fair value through other comprehensive income', 'cht': '透過其他綜合損益按公允價值衡量之金融資產減資退回股款', 'value': '0'}, {'code': 'B00040', 'en': 'Acquisition of financial assets at amortised cost', 'cht': '取得按攤銷後成本衡量之金融資產', 'value': '(313958)'}, {'code': 'B00060', 'en': 'Proceeds from repayments of  financial assets at amortised cost', 'cht': '按攤銷後成本衡量之金融資產到期還本', 'value': '14349190'}, {'code': 'B01700', 'en': 'Derecognition of financial liabilities for hedging', 'cht': '除列避險之金融負債', 'value': '(294290)'}, {'code': 'B02700', 'en': 'Acquisition of property, plant and equipment', 'cht': '取得不動產、廠房及設備', 'value': '(192294786)'}, {'code': 'B02800', 'en': 'Proceeds from disposal of property, plant and equipment', 'cht': '處分不動產、廠房及設備', 'value': '155320'}, {'code': 'B03700', 'en': 'Increase in refundable deposits', 'cht': '存出保證金增加', 'value': '(1336839)'}, {'code': 'B03800', 'en': 'Decrease in refundable deposits', 'cht': '存出保證金減少', 'value': '475381'}, {'code': 'B04500', 'en': 'Acquisition of intangible assets', 'cht': '取得無形資產', 'value': '(2682181)'}, {'code': 'B04600', 'en': 'Proceeds from disposal of intangible assets', 'cht': '處分無形資產', 'value': '0'}, {'code': 'B07500', 'en': 'Interest received', 'cht': '收取之利息', 'value': '9396746'}, {'code': 'B07600', 'en': 'Dividends received', 'cht': '收取之股利', 'value': '452144'}, {'code': 'B09900', 'en': 'Other investing activities', 'cht': '其他投資活動', 'value': '4803778'}, {'code': 'BBBB', 'en': 'Net cash flows from (used in) investing activities', 'cht': '投資活動之淨現金流入（流出）', 'value': '(178906424)'}, {'code': '', 'en': 'Cash flows from (used in) financing activities', 'cht': '籌資活動之現金流量', 'value': ''}, {'code': 'C00200', 'en': 'Decrease in short-term loans', 'cht': '短期借款減少', 'value': '(11198385)'}, {'code': 'C01300', 'en': 'Repayments of bonds', 'cht': '償還公司債', 'value': '(8400000)'}, {'code': 'C03000', 'en': 'Increase in guarantee deposits received', 'cht': '存入保證金增加', 'value': '42659'}, {'code': 'C03100', 'en': 'Decrease in guarantee deposits received', 'cht': '存入保證金減少', 'value': '(347951)'}, {'code': 'C04020', 'en': 'Payments of lease liabilities', 'cht': '租賃本金償還', 'value': '(1814471)'}, {'code': 'C05600', 'en': 'Interest paid', 'cht': '支付之利息', 'value': '(1625029)'}, {'code': 'C05800', 'en': 'Change in non-controlling interests', 'cht': '非控制權益變動', 'value': '30'}, {'code': 'C09900', 'en': 'Other financing activities', 'cht': '其他籌資活動', 'value': '0'}, {'code': 'CCCC', 'en': 'Net cash flows from (used in) financing activities', 'cht': '籌資活動之淨現金流入（流出）', 'value': '(23343147)'}, {'code': 'DDDD', 'en': 'Effect of exchange rate changes on cash and cash equivalents', 'cht': '匯率變動對現金及約當現金之影響', 'value': '3700926'}, {'code': 'EEEE', 'en': 'Net increase (decrease) in cash and cash equivalents', 'cht': '本期現金及約當現金增加（減少）數', 'value': '71882661'}, {'code': 'E00100', 'en': 'Cash and cash equivalents at beginning of period', 'cht': '期初現金及約當現金餘額', 'value': '577814601'}, {'code': 'E00200', 'en': 'Cash and cash equivalents at end of period', 'cht': '期末現金及約當現金餘額', 'value': '649697262'}, {'code': 'E00210', 'en': 'Cash and cash equivalents reported in the statement of financial position', 'cht': '資產負債表帳列之現金及約當現金', 'value': '649697262'}]}

In [213]:
Ntable = 3
start=5
k=2

Etable = tables[Ntable]
#print(Etable)

# Find A1, B1....Index

In [78]:
td=Etable.select('td')
#print(td)

CI=[]
for _td in td:
    if re.findall('^[A-Z][0-9]', _td.text.strip()) !=[]:
        CI.append(re.findall('^[A-Z][0-9]', _td.text.strip()))
        #print(code_index[0])

In [212]:
import re
import pandas as pd
import numpy as np

th=Etable.select('th')
cht = Etable.select('span.zh')
en = Etable.select('span.en')
amt = Etable.select('td.amt')

#code4=[]
code4={}

j=1
for _th in th:
    if re.findall('^3.+', _th.text.strip()) !=[]:
        #print(_th.text.strip())
        #print(cht[j].text.strip())
        #print(en[j].text.strip())
        #code4.append({'code':_th.text.strip(),'cht': cht[j].text.strip(), 'en':en[j].text.strip()})
        code4[_th.text.strip()]={'cName':{'cht': cht[j].text.strip(),'en':en[j].text.strip()}}
        j+=1
#print(code4)
#print(code4.keys())

#index=[]
index2={}
for _cht, _en, _CI in zip(cht[j:], en[j:], CI):
    #index.append({'code_index':_CI[0],'cht_index':_cht.text.strip(), 'en_index': _en.text.strip()})
    index2[_CI[0]]={'iName':{'cht': _cht.text.strip(),'en': _en.text.strip()}}
    #print(code_index)
    #print(cht_index)
    #print(en_index)               
#print(index2)
#print(index2.keys())

k= len(code4)

#print(k)


#for _amt in amt:
#    print(_amt.text)

amt_row= [[] for x in range(k-1)]
#print(amt_row)
j=0
for i, _amt in enumerate(amt):
    #print(i, _amt.text)
    if i==0 or i % k!= 0:
        amt_row[j].append(_amt.text.strip().replace(',','').replace('(','-').replace(')',''))
        #print(amt_row[j])
    else:
        j+=1
        amt_row[j].append(_amt.text.strip().replace(',','').replace('(','-').replace(')',''))
#print(amt_row)

df=pd.DataFrame(columns=code4.keys())

df=pd.DataFrame(np.array(amt_row),
                   columns=code4.keys())
df['items']=index2.keys()
df.set_index('items', inplace=True)
df

,3110,3100,3200,3310,3320,3350,3300,3410,3420,3450,3490,3400,31XX,36XX,3XXX
items,,,,,,,,,,,,,,,
A1,259303805,259303805,56315932,276033811,26907527,1073706503,1376647841,-12042347,-3429324,23601,-1843,-15449913,1676817665,678731,1677496396
B1,0,0,0,35113088,0,-35113088,0,0,0,0,0,0,0,0,0
B3,0,0,0,0,-16183397,16183397,0,0,0,0,0,0,0,0,0
B5,0,0,0,0,0,-259303805,-259303805,0,0,0,0,0,-259303805,0,-259303805
C7,0,0,4627,0,0,0,0,0,0,0,1843,1843,6470,110,6580
D1,0,0,0,0,0,128158701,128158701,0,0,0,0,0,128158701,4460,128163161
D3,0,0,0,0,0,0,0,5533346,2596706,11901,0,8141953,8141953,53,8142006
D5,0,0,0,0,0,128158701,128158701,5533346,2596706,11901,0,8141953,136300654,4513,136305167
M7,0,0,370,0,0,0,0,0,0,0,0,0,370,-370,0
O1,0,0,0,0,0,0,0,0,0,0,0,0,0,-76036,-76036
Q1,0,0,0,0,0,73048,73048,0,-73048,0,0,-73048,0,0,0
T1,0,0,0,0,0,0,0,0,0,-6775,0,-6775,-6775,0,-6775
Y1,0,0,4997,35113088,-16183397,-150001747,-131072056,5533346,2523658,5126,1843,8063973,-123003086,-71783,-123074869
Z1,259303805,259303805,56320929,311146899,10724130,923704756,1245575785,-6509001,-905666,28727,0,-7385940,1553814579,606948,1554421527